VITE_BASE_URL="https://your-domain.test/"
VITE_TRANSCRIBE_VERSION="0.1.3"
VITE_MODELS_VERSION="1"
VITE_TRANSCRIBE_WASM="https://your-domain.test/lib/transcribe/shout.wasm.js"
VITE_TRANSCRIBE_WORKER="https://your-domain.test/lib/transcribe/shout.wasm.worker.mjs"
VITE_TRANSCRIBE_MODEL="https://your-domain.test/lib/transcribe/model/ggml-tiny-q5_1.bin"
VITE_TRANSCRIBE_MODEL_PATH="https://your-domain.test/lib/transcribe/model"
VITE_TRANSCRIBE_PATH="https://your-domain.test/lib/transcribe"